body{
 margin: 0px;
 padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
}

.my_menu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color:rgb(0, 0, 119);
    
}
.menu{
    width: 100%;
    height: 50px;
    background-color:rgb(0, 0, 119);
    
}


.menu li{
    list-style-type: none;
    width: 160px;
    height: 50px;
    background-color: rgb(0, 0, 119);
    margin-left: 40px;
    text-align: center;
    line-height: 50px;
    float: left;
}

.menu li:hover{
    background-color: black ;
}

.menu li a:hover{
    color: rgb(0, 0, 119);
}

.menu li a{
    color: white;
    display: block;
    text-decoration: none;

}

.logo{
    width: 100px;
    text-align: center;
    list-style-type: none;
    height: 0px;
    margin-left: 20px;
    text-align: center;
    line-height: 50px;
}

.logo_li:hover{
    background-color: rgb(0, 0, 119)! important ;

}

.logo_li a{
    font-size: 15px;
    background-color: orangered;
}

.logo_li a:hover{
    color: white !important;

}
.menu ul li{
    margin: 0px;
}
.menu ul{
    display: none;
}
.menu li:hover ul{
    display: block;
}

/*banner*/
#banner{
    width:100%;
}

#banner img{
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

/*Why Choose Us*/
#why_choose{
    width: 100%;
    text-align: center;
}
#why_choose h1{
    margin: 0 auto ;
    width:300px ;
    text-align: center ;
    font-size: 30px;
    color: red;
    border-bottom: 2px solid red;

}

.div_section1{
    width: 20%;
    height: 300px;
    margin: 30px;
       float: left;
    
}

.icon{
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    margin: 10px auto;
    line-height: 120px;
    font-size: 50px;
    background-color: darkred;
    color: white;
    border-radius: 100px;
    transition-duration: 0.3s;
}

.icon:hover{
    font-size: 40px;
}

/* section2*/
.section2{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.section2 h1{
    margin: 0 auto ;
    width:400px ;
    text-align: center ;
    font-size: 30px;
    color: red;
    border-bottom: 2px solid red;

}

.div_section2{
    width: 30%;
    height: 300px;
    margin: 20px;
       float: left;
       
}

.div_section2 img{
    width: 100%;
}
/*new-----*/

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -400%;
 }




 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
  
    background-image: url(yy.jpg);
 }
 #slides .slide_2 {
    background-image: url(IMG-20240127-WA0017.jpg);
 }
 #slides .slide_3 {
    background-image: url(IMG-20240127-WA0049.jpg);
 
 }
 #slides .slide_4 {
    background-image: url(IMG-20240127-WA0046.jpg)
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(n.png) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

/*footer */
.footer {
    position: absolute ;
    width: 100%;
    height: auto;
    background-color: black;
}

.footer_div{
    width: 20%;
    height: 300px;
    margin: 30px;
       float: left;
}

.footer_div {
    text-align: center;
    color: white;
}

.footer_div h1{
    color: red;
}

.footer_div button{
    margin-top: 20px;
    background-color: red;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
}

.footer_div ul li{
    list-style: none;
}
.footer_div ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.social-link{
    color: white;
}

.under_footer{
    display: inline-block;
    width: 100%;
    height: 60PX;
    text-align: center;
    background-color: white;
    
}

.footer1{
    width: 50%;
    float: left;
   
}
.footer1 P{
    color: black;
}

.maths{
    text-align: center;
}

/*contact us*/





